*{
    margin: 0;
    padding: 0;
}
:root{
    --branco: rgb(242, 239, 239);
    --preto-fonte: #000000;
}
#box_banner1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body{
    color: var(--preto-fonte);
    background-color: var(--branco);
    font-family: 'K2D', sans-serif;
    min-height: 100%;
    width: 100%;
    height: 100%;
}
#box_principal_conteudo{
    text-align: center;
    margin: 10px
}
.box_conteudo img{
    width: 100%;
    height: 33vh;
    border-radius: 15px;
    margin: 14px 0px 14px 0;
    box-shadow: 10px 5px 5px rgb(45, 44, 44);
}
h2
{
    font-size: 1.5rem;
    text-decoration: underline;
}
p{
    font-size: 0.95rem;
    font-family: 'K2D', sans-serif;
    line-height: 1.5;
    text-decoration: none;
}
#box_banner2 img{
    width: 95%;
    height: 33vh;
    border-radius: 15px;
    margin: 16px 0px 16px 0px;
    box-shadow: 10px 5px 5px rgb(45, 44, 44);
}
#box_banner2{
    text-align: center;
}
footer {
    bottom: 0;
    left: 0;
    background-color: #ED686A;
    color: #FFF;
    text-align: center;
    width: 100%;
}
footer img {
    width: 30%;
    height: 10vh;
    object-fit: cover;
}
